.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(20, 1fr);

  width: 300px;
  height: 600px;

  background: #111;
  border: 2px solid #444;
}

.cell {
  border: 1px solid #222;
  background: #000;
}

.cyan {
  background: cyan;
}
.yellow {
  background: yellow;
}
.purple {
  background: purple;
}
.green {
  background: green;
}
.red {
  background: red;
}
.blue {
  background: blue;
}
.orange {
  background: orange;
}

@media screen and (max-width: 768px) {
  .board {
    width: 260px;
    height: 520px;
  }
}

@media screen and (max-width: 480px) {
  .board {
    width: 240px;
    height: 480px;
  }
}
