* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
}
