.next-piece-container {
}

.next-piece-container h2 {

}

.next-piece-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 120px;
  height: 120px;
  background: #111;
  border: 2px solid #444;
}

.next-piece-cell {
  border: 1px solid #222;
  background: #000;
}


.cyan { background: cyan; }
.yellow { background: yellow; }
.purple { background: purple; }
.green { background: green; }
.red { background: red; }
.blue { background: blue; }
.orange { background: orange; }

@media screen and (max-width: 768px) {
  .next-piece-grid {
    width: 100px;
    height: 100px;
    
  }
}

@media screen and (max-width: 480px) {
  .next-piece-grid {
    width: 90px;
    height: 90px;
  }

  @media screen and (max-width: 480px) {
  .next-piece-container {
    order: 3;
  }
}

  
}
