.waiting-for-host-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #222;
  padding: 20px;
  border: 2px solid #555;
  grid-column-start: 2;
  grid-column-end: 10;
  grid-row-start: 7;
}

p {
  cursor: default;
  color: white;
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
}
