.game-overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  background-color: rgb(24, 24, 24, 0.6);
  width: 300px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  color: white;

  font-size: 1.2rem;
  gap: 12px;
  z-index: 10;
}

@media screen and (max-width: 768px) {
  .game-overlay {
    width: 260px;
    height: 520px;
  }
}

@media screen and (max-width: 480px) {
  .game-overlay {
    width: 240px;
    height: 480px;
  }
}