.game-container {
  display: flex;
  /* justify-content: center; */
  gap: 20px;
  margin: 0 auto;
  border: 2px solid #555;
  padding: 20px;
  height: max-content;
}

@media screen and (max-width: 768px) {
  .game-container {
    padding: 10px;
    gap: 10px;
  }
}

@media screen and (max-width: 480px) {
  .game-container {
    padding: 5px;
    gap: 5px;
    flex-wrap: wrap;
  }

  .spectrums-container {
    order: 3;
  }
}
