.start-button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #222;
  padding: 20px;
  border: 2px solid #555;
  grid-column-start: 2;
  grid-column-end: 10;
  grid-row-start: 7;
}

.start-button {
  background: green;
  color: white;
  cursor: pointer;
  display: block;
  padding: 10px;
  font-size: 16px;
  font-weight: bolder;
  border: none;
  border-radius: 4px;
}

.start-button:hover {
  background: rgb(0, 161, 0);
}
