* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

main {
  display: flex;
  gap: 20px;
  margin: 0 auto;
  border: 2px solid #555;
  padding: 20px;
  height: max-content;
}

@media screen and (max-width: 768px) {
  main {
    padding: 10px;
    gap: 10px;
  }
}

@media screen and (max-width: 480px) {
  main {
    padding: 5px;
    gap: 5px;
    flex-wrap: wrap;
  }
}
