.empty-board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(20, 1fr);

  width: 300px;
  height: 600px;

  background: #111;
  border: 2px solid #444;
}

@media screen and (max-width: 768px) {
  .empty-board {
    width: 260px;
    height: 520px;
  }
}

@media screen and (max-width: 480px) {
  .empty-board {
    width: 240px;
    height: 480px;
  }
}
