.join-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #222;
  padding: 20px;
  border: 2px solid #555;
  grid-column-start: 2;
  grid-column-end: 10;
  grid-row-start: 7;
  /* grid-row-end: 12; */
}

.join-form input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #555;
  /* border-radius: 2px; */
  background-color: #333;
  color: #fff;
}

.join-button {
  background: green;
  color: white;
  cursor: pointer;
  display: block;
  padding: 10px;
  font-size: 16px;
  font-weight: bolder;
  border: none;
  border-radius: 4px;
}

.join-button:hover {
  background: rgb(0, 161, 0);
}

.join-button.disabled {
  background: darkgreen;
  cursor: not-allowed;
  opacity: 0.6;
}
